{namespace tpl.home}

/**
 * Home
 */
{template .welcome}
    <div>
        <header>
            Welcome here!
        </header>
    </div>
{/template}

/**
 * Simple button
 * @param txt
 */
{template .btn}
    <button type="button">{$txt}</button>
{/template}